<!-- <div class="row">
	<h1>Bookmarks List</h1>
		<div id="bookmark-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div ng-repeat="bookmark in bookmarks| orderBy:'-bookmark.timestamp'">
						{{bookmark.name}}
					<a href={{bookmark.url}}>
						{{bookmark.url}}
				</a>
						<a ui-sref="tag({name: bookmark.tags})">{{bookmark.tags}}</a>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<h2>Bookmarks List</h2>
	<table class="table table-hover">
		<thead>
		<tr>
			<th>Bookmark</th>
			<th>Url</th>
			<th>Tags</th>
			<th><a href="#"><i class="fa fa-pencil-square-o"></i></a></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="bookmark in bookmarks| orderBy:'-bookmark.timestamp'">
			<td> {{bookmark.name}} </td>
			<td><a href={{bookmark.url}}>{{bookmark.url}}</a></td>
			<td><a ui-sref="tag({name: bookmark.tags})">{{bookmark.tags}}</a></td>
			<td><a href=""><i class="fa fa-trash-o"></i></a></td>
		</tr>
		</tbody>
	</table>
</div>
