<!-- <h1>
	{{tag.name}}
</h1> -->
<!-- <div ng-repeat="tag in tags">
		<div>{{tag.name}}</div>
</div> -->
<h1>
	{{tag.name}}
</h1>

<!-- <li ng-repeat="bookmark in bookmarks">
	{{bookmark.name}}
</li> -->
<div class="row">
	<table class="table table-hover">
		<thead>
		<tr>
			<th>Bookmark</th>
			<th>Url</th>
			<th>Tags</th>
			<th><a href="#"><i class="fa fa-pencil-square-o"></i></a></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="bookmark in bookmarks| orderBy:'-bookmark.timestamp'">
			<td> {{bookmark.name}} </td>
			<td><a href={{bookmark.url}}>{{bookmark.url}}</a></td>
			<td><a ui-sref="tag({name: bookmark.tags})">{{bookmark.tags}}</a></td>
			<td><a href=""><i class="fa fa-trash-o"></i></a></td>
		</tr>
		</tbody>
	</table>
</div>
