
<!-- <li ng-repeat="bookmark in bookmarks">
	{{bookmark.name}}
</li> -->
<a class="button tagslist" href="#/bookmarks">{{tag.name}}</a>
<div class="row">
	<table class="table table-hover">
		<thead>
		<tr>
			<th>Bookmark</th>
			<th>Url</th>
			<th>Tags</th>
			<th><a href="#"><i class="fa fa-pencil-square-o"></i></a></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="bookmark in bookmarks| orderBy:'-bookmark.timestamp'">
			<td> {{bookmark.name}} </td>
			<td>
				<a href={{bookmark.url}}>{{bookmark.url}}</a>
			</td>
			<td>
				<div ng-repeat="bookmarktag in bookmark.tags">
					<a ui-sref="tag({name: bookmark.tags[$index]})">{{bookmark.tags[$index]}}</a>
				</div>
			</td>
			<td><a href=""><i class="fa fa-trash-o"></i></a></td>
		</tr>
		</tbody>
	</table>
</div>
