<!DOCTYPE html>
<html ng-app="angBookmark">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
  <script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="bookmarkController">
  <div class="container">
    <h1> Your bookmarks</h1>
    <div id="bookmark-form" class="row">
      <form class="form-group" name="add">
        <input type="text" class="input-lg" ng-model="formData.name" required placeholder="Bookmark">
        <input type="url" class="input-lg" ng-model="formData.url" required placeholder="http://">
        <input type="text" class="input-lg" ng-model="formData.tags" required placeholder="Tags">
        <button type="submit" ng-click="createBookmark()" ng-disabled="add.$invalid" class="btn btn-info btn-lg">Add</button>
      </form>
    </div>
  <ul class="nav navbar nav-pills nav-justified">
    <li><a href="#/bookmarks">Bookmarks</a></li>
    <li><a href="#/tagslist">Tags</a></li>
  </ul>


    <div class="row">
      <div ui-view></div>
    </div>

  </div>
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="core.js"></script>
  <script src="js/states.js"></script>
  <script src="js/tagController.js"></script>
  <script src="js/bookmarkController.js"></script>
</body>
</html>
