<!DOCTYPE html>
<html ng-app="angBookmark">
<head>
  <meta charset="UTF-8">
  <title>Bookmarks</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
  <script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<header class="header">
  <h1 class="main-header">Make A Bookmark</h1>
  <ul class="header-subnav">
    <li><a href="#/bookmarks">Bookmarks</a></li>
    <li><a href="#/tagslist">Tags</a></li>
    <a target="_blank" href="https://twitter.com/damonkala" class="icon-button twitter">
      <i class="fi-social-twitter"></i><span></span>
    </a>
    <a target="_blank" href="https://www.facebook.com/sugaray32" class="icon-button facebook">
      <i class="fi-social-facebook"></i><span></span>
    </a>
    <a target="_blank" href="https://myaccount.google.com/?utm_source=OGB&pli=1" class="icon-button gplus">
      <i class="fi-social-google-plus"></i><span></span>
    </a>
  </ul>
</header>
<body ng-controller="bookmarkController">
  <div class="container">
    <div id="bookmark-form" class="row">
      <form class="form-group" name="add">
        <input type="text" class="input-lg" ng-model="formData.name" required placeholder="Bookmark">
        <input type="url" class="input-lg" ng-model="formData.url" required placeholder="http://">
        <input type="text" class="input-lg" ng-model="formData.tags" required placeholder="Tags (Separate By ,)">
        <button type="submit" ng-click="createBookmark()" ng-disabled="add.$invalid" class="btn btn-info btn-lg">Add</button>
      </form>
    </div>
    <form class="form-group">
      <input type="text" ng-model="bookmarks.search" class="search-query searchbox" id="bookmarks_search" placeholder="search">
      <input type="text" class="input-lg" ng-model="tagData.name" required placeholder="Tags (Separate With Commas)">
     <button type="submit" ng-click="createTag()" ng-disabled="make.$invalid" class="btn btn-info btn-lg">Add</button>
    </form>

    <div class="row">
      <div ui-view></div>
    </div>

  </div>
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="core.js"></script>
  <script src="js/states.js"></script>
  <script src="js/tagController.js"></script>
  <script src="js/tagslistController.js"></script>
  <script src="js/bookmarkController.js"></script>
</body>
</html>
